In [59]:
# Import necessary libraries
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [60]:
# Load the CSV file
file_path = '/home/buiduckhanh/file log/query_execution_times1.csv'
output_path = '/home/buiduckhanh/file log/query_execution_times1.csv'
df = pd.read_csv(file_path)

# Display the first few rows
print("Original data:")
df.head()

Original data:

     query  start at (ms)    end at (ms)  time
0  query 1   16:16:29.913   16:16:30.546   439
1  query 2   16:16:30.547   16:16:31.559   770
2  query 3   16:16:31.561   16:16:31.889   133
3  query 4   16:16:31.891   16:16:32.086
4  query 5   16:16:32.088   16:16:32.282

In [61]:
# Strip whitespace from column names
df.columns = df.columns.str.strip()

# Display column names to verify
print("Column names after cleaning:")
print(df.columns.tolist())

Column names after cleaning:
['query', 'start at (ms)', 'end at (ms)', 'time']

In [62]:
# Identify time columns (ending with 'time(ms)')
time_columns = [col for col in df.columns if '(ms)' in col]
print(f"Time columns to convert: {time_columns}")

# Create a reference date to combine with time values
reference_date = '2023-01-01'

# Convert time columns to datetime (replacing the original columns)
for col in time_columns:
    # Convert time strings to datetime and replace the original column
    df[col] = pd.to_datetime(reference_date + ' ' + df[col])
# Display the first few rows with converted columns
df.head()
df.to_csv(output_path, index=False)
print(f"DataFrame saved to {output_path}")

Time columns to convert: ['start at (ms)', 'end at (ms)']
DataFrame saved to /home/buiduckhanh/file log/query_execution_times1.csv